/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

div.weather {
  text-align: center;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  font-weight: 200;

}

.poster-container {
  display: flex;
  top: 100px;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  overflow: auto;
}

/* movie details div */
.info-popup {
  position: absolute;
  width: 50%;
  overflow: auto;
  height: 350px;
  left: 50%;
  /* margin-left: -25%; */
  top: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, .9);
  color: rgba(255, 255, 255, .9);
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  font-weight: 200;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

}
.info-popup h2{
  font-weight: 200;
}

/* movie details div default is hidden */

.info-popup.hidden {
  display: none;
}

.exit-button {
  font-size: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 0px;
}

.main {
  width: 65%;
  margin: 0 auto;
}

/* when poster is clicked on, make everything else blurry */
.main.blurry {
  filter: blur(5px);
}

.poster-frame {
  /* border: 2px solid red; */
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30, .8);
  margin: .5em;
  height: auto;
  position: relative;
}

.poster-frame img {
  width: 100%;
  align-self: center;
  height: auto;
}

.poster-frame h2 {
  text-align: center;
  padding: 5%;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  font-weight: 400;
}

.zip-code-search {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
}
input {
    appearance: none;
    width: 100%;
    border: 0;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 200;
    padding: 12px 0;
    height: 48px;
    font-size: 24px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: none;
    border-radius: 0;
    color: rgb(255, 255, 255);
    transition: all .15s ease;
}
input:focus {
  outline: none;
}


.zip-code-search.hidden {
  display: none;
}